* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1194px;
    padding: 0 24px;
    margin: 0 auto;
}

.header {
    margin-top: 34px;
    border: 1px solid #000;
}